.photography{
    padding-bottom: 90px;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.images img{
    width: 400px;
    height: 260px;
    padding: 20px 3px;
}

@media screen and (max-width: 768px) {
    .photography{
    padding-bottom: 95px;
}
.images{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.images img{
    width: 350px;
    
    padding: 20px 0;
}
}